let handler = async (m, { conn }) => {
	conn.sendFile(m.chat, 'https://api.dannteam.com/api/asupan/video/random?apikey=DannTeam', 'asupan.mp4', '👁👄👁', m)
}
handler.help = ['asupan']
handler.tags = ['asupan']

handler.command = /^(asupan)$/i
handler.premium = false
handler.register = true
handler.limit = 10
module.exports = handler